/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Satisfy&display=swap');

:root {
	--body-font: "Satisfy", cursive;
	--Nunito-font: "Nunito", sans-serif;
	--primary-color: #48a8e7;
	--white: #FFF;
	--secondary-color: #db0626;
	--secondar-light: #fbd5d8;
	--black: #000;
	--fixed-zindex: 999;
	--transition-fast: .4s ease-in-out;
	--transition-slow: .6s ease-in-out;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: var(--body-font);
}


/* custome css */
section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 120px 12%;
}

.section_image {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.section_image img {
	width: 100%;
	height: 100%;
}

.section_content {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.section_content img {
	width: 60%;
	height: 60%;
}

.triangle {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.triangle img {
	width: 80%;
	height: 80%;
}

.triangle_content {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.triangle_content h2 {
	font-size: 4rem;
	font-weight: 500;
	color: var(--primary-color);
}

.triangle_content p {
	font-size: 1rem;
	font-weight: 500;

}

.btn {
	width: 150px;
	height: 50px;
	border-radius: 30px;
	border: none;
	background-color: var(--primary-color);
	color: var(--white);
	text-transform: uppercase;
	font-family: var(--Nunito-font);
	font-size: 1rem;
	font-weight: 500;
	border: 1px solid #00000000;
	transition: var(--transition-fast);
}

.btn:hover {
	background-color: transparent;
	border: 1px solid var(--primary-color);
	color: var(--black);
}


.section_title {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: flex-start;
}

.section_title h3 {
	font-size: 1rem;
	text-transform: uppercase;
	color: var(--secondary-color);
	font-family: var(--Nunito-font);
	font-weight: 500;
}

.section_title h2 {
	font-size: 3rem;
	font-weight: 500;
	color: var(--secondary-color);
}



nav {
	height: 90px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 2%;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: var(--fixed-zindex);
	background-color: #FFF;
	background-image: -webkit-linear-gradient(60deg, rgb(222, 63, 138) 0%, rgb(250, 97, 97) 100%);
}

body {
	background-color: #1d1d1d;
}

.logo {
	width: 250px;
}

.logo a {
	font-size: 2rem;
	color: var(--white);
}

.logo a span {
	color: var(--secondar-light);
}

.menu {
	display: flex;
	align-items: center;
	gap: 30px;
}

.menu li a {
	color: var(--white);
	font-family: var(--Nunito-font);
	font-size: 1rem;
	font-weight: 400;
	position: relative;
}

.menu li a::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
	height: 2px;
	border-radius: 30px;
	background-color: var(--secondary-color);
	transition: var(--transition-slow);
	opacity: 0;
}

.menu li a:hover::after {
	opacity: 1;
}


.social_icon {
	display: flex;
	gap: 12px;
	padding-left: 30px;
}

.social_icon i {
	color: var(--white);
	font-size: 2rem;
	transition: var(--transition-fast);
}


.social_icon i:hover {
	color: var(--secondary-color);
}

#toggle {
	display: none;
}


/* Hero section */
.hero {
	min-height: 100vh;
	position: relative;
	padding: 0;
}

.hero_title {
	position: absolute;
	top: 50%;
	left: 28%;
	transform: translate(-50%, -50%);
}

.hero_title span {
	color: var(--white);
	font-size: 8.5rem;
	line-height: 9.5rem;
}

.hero_slide {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(image/hero_home_01_01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.element {
	position: absolute;
	height: 270px;
	width: 270px;
}

.element img {
	height: 100%;
	transition: 1.5s;
	width: 100%;
}

.element:hover img {
	transform: rotate(180deg);
}

.element1 {
	right: 25%;
	top: 35%;
}

.element2 {
	bottom: 0%;
	left: 45%;
}

.element3 {
	right: 18%;
	bottom: -3%;
}

.element4 {
	top: 40%;
	left: 40%;
}

.element5 {
	top: 0%;
	left: 20%;
}

.element6 {
	bottom: 0%;
	left: 20%;
}

.element7 {
	right: 36%;
	top: 0%;
}



.hero_slide2 {
	height: 100%;
	width: 100%;
	background-image: url(image/hero_home_01_03.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	overflow: hidden;
}

#hero_img {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: auto;
	object-fit: contain;
}

.hero_title2 span {
	position: absolute;
	top: 40%;
	left: 20%;
	font-size: 8.5rem;
	color: var(--white);
}

.hero_title2 span:nth-child(2) {
	position: absolute;
	top: 40%;
	left: 70%;
	font-size: 8.5rem;
	color: var(--white);
}

.hero_slide3 {
	height: 100%;
	width: 100%;
	background: rgb(58, 101, 180);
	background: linear-gradient(90deg, rgb(22, 147, 250) 0%, rgb(252, 211, 29) 50%, rgb(80, 230, 117) 100%);
	position: relative;
	overflow: hidden;
}

.hero_slide3::after {
	content: '';
	position: absolute;
	top: 55%;
	left: 60%;
	transform: translate(-50%, -50%);
	height: 85%;
	width: 85%;
	background-image: url(image/carnaval1.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.hero_title3 span {
	position: absolute;
	font-size: 14rem;
	color: var(--white);
	top: 15%;
	left: 15%;
	z-index: 1;
}


.hero_title3 span:nth-child(2) {
	position: absolute;
	font-size: 14rem;
	color: var(--white);
	top: 55%;
	left: 55%;
}

.mySwiper {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* About section */
.About {
	background-image: url(image/inner_about_me_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	align-items: flex-end;
	padding-bottom: 0%;
}

.About_Image img {
	width: 90%;
}

.About_content h2 {
	color: var(--white);
	font-weight: 500;
}


/* oder top */

.Order {
	min-height: 100vh;
	background-image: url(image/inner_colors_02.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	flex-direction: column;
	padding-bottom: 0;
}

.Order_Top {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Order_Top_Image img {
	width: 60%;
	height: 60%;
}

.Order_middel {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Order_middel_image {
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.Order_middel_image img {
	width: 45%;
}

.Order_middel_image img:nth-child(1) {
	transform: translateX(200px);
}

.Order_middel_image img:nth-child(3) {
	transform: translateX(200px);
}

.Order_middel_content {
	transform: translateX(-200px);
}

.Order_middel_content .triangle {
	transform: rotate(180deg);
	width: 80%;
}

.Order_bottom {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.Order_bottom_Image img {
	width: 60%;
}

.Order_bottom_content .triangle img {
	width: 70%;
	height: 70%;
}

.Order_bottom_Image {
	justify-content: flex-start;
}


/* offera */
.Offer {
	gap: 80px;
	background-image: url(image/inner_colors_01.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-bottom: 0;
}

.Offer_Image {
	width: 70%;
}

.Offer_title {
	width: 30%;
}

/* About us container */
.About_us {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0;
}

.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url(image/inner_colors_02.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.About_Wrap {
	width: 30%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	place-content: center;
	place-items: center;
	gap: 50px;
}

.About_container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.About_left {
	text-align: right;
}

.About_left_info {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 8px;
}

.About_left_info p,
.About_left_info h4 {
	width: 100%;
	font-family: var(--Nunito-font);
	color: var(--white);
}

.About_left_info p {
	font-size: 1rem;
	font-weight: 400;
}

.About_left_info h4 {
	font-size: 1rem;
	font-weight: 700;
}


.About_container i {
	font-size: 3.5rem;
	color: var(--white);
	transition: var(--transition-fast);
}

.About_container:hover .About_icon i {
	color: var(--black);
}

.About_us_Image {
	width: 40%;
}


.About_us_Image img {
	width: 70%;
}


/* contact form */


.element8 {
	right: 5%;
	top: 16%;
}

.element8 img {
	width: 75%;
	height: 75%;
}

.element9 {
	right: 9%;
	top: 45%;
}

.element9 img {
	width: 70%;
	height: 70%;
}

.element10 {
	left: 5%;
	top: 16%;
}

.element10 img {
	width: 75%;
	height: 75%;
}

.element11 {
	left: 12%;
	top: 42%;
}

.element11 img {
	width: 70%;
	height: 70%;
}

/* our Menu secTion */

.Our_Menu {
	flex-direction: column;
	padding-top: 120px;
}

.Our_Menu h2 {
	width: 100%;
	text-align: center;
	font-size: 4rem;
	font-weight: 500;
	color: var(--white);
	margin-bottom: 50px;
}

.Our_Menu_Wrap {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
}

.Our_Menu_item {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.Our_Menu_Image {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Our_Menu_Image img {
	width: 70%;
}

.Our_Menu_Content {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: var(--white);
	gap: 20px;
}

.Our_Menu_Content h3 {
	font-size: 2.5rem;
	font-weight: 500;
}


.Our_Menu_Content p {
	font-family: var(--Nunito-font);
	font-size: 1rem;
	font-weight: 500;
	width: 70%;
}


.Our_Menu_Content button {
	background-color: var(--secondary-color);
}

.Our_Menu_Content button:hover {
	border: 1px solid var(--secondar-light);
}

.location {
	width: 100%;
	height: 400px;
}


/* follow_us */
.follow_us {
	flex-direction: column;
	position: relative;
	background: linear-gradient(to right, #a0ffc0, #31e367);

	padding-bottom: 0;
}

.follow_us_info {
	color: var(--secondary-color);
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.follow_us_info h2 {
	color: var(--secondary-color);
	font-size: 3rem;
	font-weight: 500;
}

.social_icon_follow_info {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.social_icon_follow_info i {
	font-size: 3.5rem;
	color: var(--secondary-color);
	transition: var(--transition-slow);
}


.follow_us img {
	width: 500px;
}

/* footer */
footer {
	height: 400px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, var(--primary-color), #53a1d4);
}

.footer_right {
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer_right img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}



.footer_left {
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
	padding: 50px;

}

.footer_container {
	display: flex;
	flex-direction: column;
	gap: 50px;
	color: var(--white);
}

.footer_item {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 30px;
}


.footer_item i {
	font-size: 1.5rem;
	transition: var(--transition-fast);
}

.footer_item:hover i {
	color: var(--black);
}

.footer_info h4 {
	font-family: var(--Nunito-font);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 10px;
}

.footer_info p {
	font-family: var(--Nunito-font);
	font-size: 1rem;
	font-weight: 400;
}

@media screen and (max-width:1400px) {

	/* hero */
	.element {
		width: 200px;
		height: 200px;
	}

	.hero_title {
		left: 24%;
	}

	.hero_title2 span {
		left: 14%;
	}

	.hero_title3 span {
		font-size: 10rem;
	}

	.hero_title3 span:nth-child(2) {
		font-size: 10rem;
	}

	.hero_slide3::after {
		top: 50%;
		left: 50%;
	}

	/* order */

	.Order .triangle img {
		width: 100%;
		height: 100%;
	}

	.Order_middel_content {
		transform: translateX(-50px);
	}

	/* our menu  */
	.Our_Menu_Content p {
		width: 80%;
	}
}

@media screen and (max-width:1200px) {
	section {
		padding: 120px 2%;
	}

	.hero_title2 span {
		left: 10%;
	}

	/* about */

	.triangle img {
		width: 100%;
		height: 100%;
	}

	.About_Image img {
		width: 100%;
	}

	/* order */
	.triangle_content h2 {
		font-size: 2rem;
	}

	.triangle_content p {
		font-size: 12px;
	}

	/* .container */
	.Our_Menu_Content p {
		width: 90%;
	}

	/* footer */
	.footer_left {
		padding: 30px;
	}

	.footer_info p {
		font-size: 0.9rem;
	}

}

@media screen and (max-width:900px) {
	:root {
		--section-padding: 60px 2%;
		/* Reducir padding en móviles */
	}

	/* Reducir tamaño de fuentes en móviles */
	.hero_title span {
		font-size: 4rem;
		line-height: 4.5rem;
	}

	section {
		flex-direction: column;
	}

	.section_image {
		width: 100%;
	}

	.section_content {
		width: 100%;
	}

	/* menu */
	.menu {
		height: 0%;
		position: absolute;
		flex-direction: column;
		top: 100%;
		left: 0%;
		width: 100%;
		background-color: #fbd5d857;
		backdrop-filter: blur(10px);
		overflow: hidden;
		transition: var(--transition-slow);
	}

	.menu li {
		padding: 12px 0;
	}

	/* .menu li:nth-child(7) {
        display: none;
    } */

	#toggle {
		display: block;
		font-size: 1.5rem;
		color: var(--secondary-color);
		padding: 8px 10px;
		background-color: var(--secondar-light);
	}

	.active {
		height: 350px;
	}

	/* hero */
	.element4 {
		display: none;
	}

	.element1 {
		display: none;
	}

	.element2 {
		display: none;
	}

	.element7 {
		display: none;
	}

	.element3 {
		display: none;
	}

	.hero_title {
		left: 50%;
	}

	.hero_slide2 img {
		display: none;
	}

	.hero_title2 span {
		left: 20%;
	}

	.hero_title2 span:nth-child(2) {
		left: 52%;
	}

	.hero_slide3::after {
		height: 70%;
		width: 100%;
	}

	/* order */
	.Order {
		gap: 100px;
	}

	.Order_Top {
		flex-direction: column;
	}

	.Order_Top_Image img {
		width: 100%;
		height: 100%;
	}

	.Order_middel {
		flex-direction: column-reverse;
	}

	.Order_middel_image {
		align-items: flex-start;
	}

	.Order_bottom {
		flex-direction: column
	}

	.Order_bottom_Image {
		justify-content: center;
	}

	/* offer */
	.Offer {
		padding-bottom: 120px;
	}

	.Offer_title {
		width: 100%;
	}

	/* container */
	.About_us {
		flex-direction: column;
		gap: 50px;
		padding-bottom: 120px;
	}

	.About_Wrap {
		width: 100%;
	}

	.About_us_Image {
		display: none;
	}

	.About_left .About_left_info {
		align-items: flex-end;
	}

	.About_left_info p {
		width: 50%;
	}

	/* .contact */
	.element8 {
		display: none;
	}

	.element9 {
		display: none;
	}

	.element10 {
		display: none;
	}

	.element11 {
		display: none;
	}

	.Contact_From {
		width: 100%;
	}

	/* our menu */
	.Our_Menu_Wrap {
		grid-template-columns: repeat(3, 1fr);
	}

	/* footer */
	footer {
		flex-direction: column-reverse;
	}

	.footer_left {
		width: 100%;
		justify-content: center;
	}

	.footer_item {
		justify-content: flex-start;
	}

	.footer_right {
		width: 100%;
	}

}


@media screen and (max-width:768px) {
	.hero_title2 span {
		font-size: 5rem !important;
		left: 30%;
	}

	.hero_title3 span {
		font-size: 5rem;
		top: 35%;
		left: 30%;
	}

	.hero_title3 span:nth-child(2) {
		font-size: 5rem;
		top: 45%;
		left: 40%;
	}

	.hero_slide3::after {
		display: none;
	}

	.Order_middel_image {
		align-items: center;
	}

	.Order_middel_image img {
		width: 60%;
	}

	.Order_middel_content {
		transform: translateX(0);
	}

	.Order_middel_content .triangle {
		width: 100%;
	}

	.Order_middel_image img:nth-child(1) {
		transform: translateX(0);
	}

	.Order_middel_image img:nth-child(3) {
		transform: translateX(0);
	}

	/* about us  */
	.About_left_info p {
		width: 60%;
	}

	/* our menu */
	.Our_Menu_Wrap {
		grid-template-columns: repeat(2, 1fr);
	}

}



@media screen and (max-width:500px) {
	.hero_title2 span {
		left: 20%;
	}

	.hero_title2 span:nth-child(2) {
		left: 54%;
	}

	.hero_title3 span:nth-child(2) {
		left: 33%;
	}

	.hero_title3 span {
		left: 20%;
	}

	/* About */
	.About_content h2 {
		font-size: 2.5rem;
	}

	.About_left_info p {
		width: 100%;
	}

	.Input_Box {
		grid-template-columns: repeat(1, 1fr);
	}

	/* our menu */
	.Our_Menu_Wrap {
		grid-template-columns: repeat(1, 1fr);
	}

	.Our_Menu_Content p {
		width: 100%;
	}

	/* footer */
	footer {
		height: auto;
	}

	.footer_left {
		flex-direction: column;
	}

	.footer_container {
		width: 100%;
	}
}